@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300;400;700&display=swap");

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

img {
  border: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width:500px) {
  html {
    font-size: 14px;
  }
}

*,:after,:before {
  box-sizing: inherit;
}

body {
  background: #fff;
  line-height: 1.6;
  height: 100%;
  color: #212529;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behaviour: smooth;
}

.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem auto;
}

@media screen and (max-width:500px) {
  .error {
    flex-direction: column;
    margin: 4rem auto;
  }
}

.error__image {
  max-width: 20rem;
  display: block;
  margin-right: 2rem;
}

@media screen and (max-width:500px) {
  .error__image {
    margin-bottom: 3rem;
  }
}

.error__text-title {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width:500px) {
  .error__text-title {
    text-align: center;
  }
}

.error__text-description {
  font-size: 1.25rem;
}

@media screen and (max-width:500px) {
  .error__text-description {
    text-align: center;
  }
}