<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
	</head>
	<body>
    <div class="error wrapper">
      <span class="error__image"><img src="../../../assets/images/404.jpg" alt="An error occured."></span>
      <div class="error__text">
        <p class="error__text-title">Something went wrong!</p>
        <p class="error__text-description">{{error_message}}</p>
      </div>
    </div>
	</body>
</html>