<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
	</head>
	<body>
    <header class="wrapper">

      <div class="header-upper">
        <div class="header-upper__contact">
          <p><strong>PHONE</strong> +381 11 402 93 18, +381 62 320 212</p>
          <p><strong>EMAIL</strong> OFFICE@HABITAT.RS</p>
        </div>
        <div class="header-upper__lang">
          <ul>
            <li><a href="/en">EN</a></li>
            <li><strong>|</strong></li>
            <li><a href="/sr">SR</a></li>
          </ul>
        </div>
      </div>

      <div class="header-main">
        <div class="header-main__logo">
          <a href="/index.html" class="brand">
            <img src="dist/images/logo.png" alt="Logo of the company displayed in the navigation menu.">
          </a>
        </div>
        <div class="header-main__nav">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/properties-map.html">Properties</a></li>
            <li><a href="/about.html">About us</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
        <div class="hamburger-menu">
          <div class="hamburger-menu__inner"></div>
        </div>
      </div>
    </header>

    <div class="error wrapper">
      <span class="error__image"><img src="dist/images/404.jpg" alt=""></span>
      <div class="error__text">
        <p class="error__text-title">Something went wrong!</p>
        <p class="error__text-description">Property you are looking for is not in market anymore.</p>
      </div>
    </div>

    <footer class="wrapper">
      <div class="footer-inner">
        <p>Habitat Real Estate, Teodora Drajzera 11L, 11000 Beograd</p>
        <p><strong>Phone</strong> +381 11 402 93 18 | +381 62 320 212</p>
        <p><strong>Email</strong> office@habitat.rs</p>
        <p>Register of Real Estate Brokers number 833</p>
        </div>
    </footer>

    <script src="dist/js/app.min.js"></script>
	</body>
</html>