@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300;400;700&display=swap");

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width:500px) {
  html {
    font-size: 14px;
  }
}

*,:after,:before {
  box-sizing: inherit;
}

body {
  background: #fff;
  line-height: 1.6;
  height: 100%;
  color: #212529;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behaviour: smooth;
}

.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

a {
  text-decoration: none;
  outline: 0;
  color: #212529;
}

h1,h2,h3,h4,h5,h6 {
  color: #212529;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .07);
  margin: 0;
}

h1 {
  font-size: 4.768rem;
  line-height: 1.05;
}

@media only screen and (max-width:680px) {
  h1 {
    font-size: 3.052rem;
  }
}

h2 {
  font-size: 3.052rem;
  line-height: 1.14;
}

@media only screen and (max-width:680px) {
  h2 {
    font-size: 2.441rem;
  }
}

h3 {
  font-size: 1.953rem;
  line-height: 1.38;
}

@media only screen and (max-width:680px) {
  h3 {
    font-size: 1.563rem;
  }
}

h4 {
  font-size: 1.563rem;
  line-height: 1.38;
}

@media only screen and (max-width:680px) {
  h4 {
    font-size: 1.25rem;
  }
}

p {
  margin: 0;
}

.is-residential {
  display: none;
}

.properties {
  width: 80%;
  margin: 0 5rem 0 2.5rem;
}

@media only screen and (max-width:1024px) {
  .properties {
    width: auto;
    margin-right: 1.5rem;
  }
}

.about {
  margin: 6rem auto;
}

.about__title {
  font-size: 2rem;
  margin: 1.25rem 0;
}

.about__bold {
  font-weight: 600;
}