<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="about wrapper">
        <h1 class="about__title">About us</h1>
        <p><span class="about__bold">Habitat Real Estate</span> was founded twelve years ago, with the objective of
            performing professional brokerage services in the city of Belgrade. From the beginning, we have set
            ourselves to create a real estate company with the character and quality that would successfully meet the
            needs of our international clients, while also meeting the long-term financial objectives of our investors.
            This goal has become our mission and the driving force behind our success. We have managed to meet our
            challenges by providing quality housing and by making sure we negotiate the best possible terms for our
            clients. With over 4.500 properties in our database, we supply one of the biggest real estate offers in
            Belgrade, and continue to provide the highest level of quality thanks to a strict short-listing process. We
            look forward to continuing reaching our goals by the simple principle that runs our company: "providing
            space that meets your needs".<br><br>Habitat real estate is specialized in providing professional brokerage
            services to embassies and multinational companies. We assist international clients to find top quality
            residential and commercial real estate in the most exclusive areas of Belgrade. Our database consists of a
            wide selection of rental properties that have all been previously visited and valued by our team of
            experienced brokers. Our biggest value is that we understand the needs of international clients and thus,
            only present the best of what the Belgrade market has to offer. Our team of Consultants works to make the
            relocation experience as timely and cost effective as possible. The interests of our clients always come
            first and are represented in the most lawful and professional manner during the whole lease agreement.</p>
        <h2 class="about__title">Legal support</h2>
        <p>When embarking in the process of selling, buying or leasing a space, compulsory questions and challenges will
            arise; whether checking the ownership deed and related papers or providing the necessary documents and
            contracts to protect you from unwanted scenarios. Your Habitat Consultant and Habitat's Legal Department
            will be there for you before, during and after the transaction.</p>
    </div>
</body>

</html>