@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300;400;700&display=swap");

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  padding: 0;
}

header,main,menu,nav {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width:500px) {
  html {
    font-size: 14px;
  }
}

*,:after,:before {
  box-sizing: inherit;
}

body {
  background: #fff;
  line-height: 1.6;
  height: 100%;
  color: #212529;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behaviour: smooth;
}

.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  color: #212529;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

header {
  padding: 1rem 1.25rem!important;
}

.header-upper {
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
}

.header-upper__contact,.header-upper__lang ul {
  display: flex;
}

.header-upper__contact p {
  margin-right: 1rem;
}

.header-upper__lang ul li:nth-child(2) {
  margin: 0 .75rem;
}

.header-upper__lang ul li a {
  color: #979797;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}

@media screen and (max-width:768px) {
  .header-main {
    display: block;
  }
}

.header-main__logo {
  max-width: 8rem;
}

@media screen and (max-width:768px) {
  .header-main__nav {
    display: none;
  }
}

@media screen and (min-width:769px) {
  .header-main__nav {
    display: block!important;
  }
}

.header-main__nav ul {
  display: flex;
}

@media screen and (max-width:768px) {
  .header-main__nav ul {
    display: block;
  }
}

.header-main__nav ul li a {
  font-size: 1rem;
}

.header-main__nav ul li a:hover {
  color: #0080ff;
}

@media screen and (max-width:768px) {
  .header-main__nav ul li {
    text-align: center;
  }
}

.header-main__nav ul li:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (max-width:768px) {
  .header-main__nav ul li:not(:last-child) {
    margin: 1rem 0;
  }
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width:768px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 0;
  }
}

.hamburger-menu__inner {
  background: url(../../../assets/icons/menu.svg) 50%/cover no-repeat;
  width: 2rem;
  height: 2rem;
}

.properties {
  width: 80%;
  margin: 0 5rem 0 2.5rem;
}

@media only screen and (max-width:1024px) {
  .properties {
    width: auto;
    margin-right: 1.5rem;
  }
}

main {
  background: url(../../../assets/images/hero-background.jpg) 50%/cover no-repeat;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 160rem;
  margin: 0 auto;
  border-radius: 0.3%;
}

.about {
  margin: 6rem auto;
}

.about__title {
  font-size: 2rem;
  margin: 1.25rem 0;
}