<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.1.0/swiper-bundle.min.css">
    <title>Habitat | All Properties</title>
</head>

<body>
    <agm-map [latitude]="44.8125" [longitude]="20.4612">
        <div *ngFor="let property of properties">
            <agm-marker [latitude]="property.location[0]" [longitude]="property.location[1]" [markerClickable]="true">
                <agm-info-window>
                    <strong>{{property.full_address}}</strong>
                    <br>
                    <a [routerLink]="['/details/'+property._id]" target="_blank">Click here for property details!</a>
                  </agm-info-window>
            </agm-marker>
        </div>
    </agm-map>

    <br>

    <div class="properties-container">
        <aside class="sidebar">
            <h3>Refine your search</h3>
            <div action="" id="propertyform-refine">

                <div class="input-container">
                    <div class="form__input">
                        <input type="number" class="form-control" placeholder="Price min" name="price_min"
                            [(ngModel)]="filter_body.price_min">
                        <span class="input__sign">€</span>
                    </div>
                    <div class="form__input">
                        <input type="number" class="form-control" placeholder="Price max" name="price_max"
                            [(ngModel)]="filter_body.price_max">
                        <span class="input__sign">€</span>
                    </div>
                </div>
                <div class="input-container">
                    <div class="form__input">
                        <input type="number" class="form-control" placeholder="Size min" name="size_min"
                            [(ngModel)]="filter_body.size_min">
                        <span class="input__sign">m<sup>2</sup></span>
                    </div>
                    <div class="form__input">
                        <input type="number" class="form-control" placeholder="Size max" name="size_max"
                            [(ngModel)]="filter_body.size_max" [ngModelOptions]="{standalone: true}">
                        <span class="input__sign">m<sup>2</sup></span>
                    </div>
                </div>

                <select id="property-rent-sale" name="1" [(ngModel)]="filter_body.params.for_rent">
                    <option value=null disabled selected>Choose renting or sale</option>
                    <option [ngValue]=true>Rent</option>
                    <option [ngValue]=false>Sale</option>
                </select>

                <select id="property-building-type" name="2" [(ngModel)]="filter_body.params.building_type">
                    <option value=null disabled selected>Choose building type</option>
                    <option value="residential">Residential ()</option>
                    <option value="office">Office ()</option>
                    <option value="retail">Retail ()</option>
                    <option value="industrial">Industrial and Warehouse ()</option>
                </select>

                <div class="sub">
                    <select id="property-type" name="3" [(ngModel)]="filter_body.params.property_type">
                        <option value=null disabled selected>Choose property type</option>
                        <option value="apartment">Apartment</option>
                        <option value="mixed_use_apartment">Mixed-Use Apartment</option>
                        <option value="duplex">Duplex</option>
                    </select>
                </div>

                <div *ngIf="filter_body.params.building_type=='residential'">
                    <div class="residential-features">
                        <select name="4" id="residential-feature" [(ngModel)]="filter_body.params.bedrooms">
                            <option value=null disabled selected>Bedrooms</option>
                            <option [ngValue]=1>1 ()</option>
                            <option [ngValue]=2>2 ()</option>
                            <option [ngValue]=3>3 ()</option>
                            <option [ngValue]=4>4 ()</option>
                            <option [ngValue]=5>5 ()</option>
                        </select>
                    </div>

                    <div class="residential-features">
                        <select name="5" id="residential-feature" [(ngModel)]="filter_body.params.bathrooms">
                            <option value=null disabled selected>Bathrooms</option>
                            <option [ngValue]=1>1 ()</option>
                            <option [ngValue]=2>2 ()</option>
                            <option [ngValue]=3>3 ()</option>
                            <option [ngValue]=4>4 ()</option>
                            <option [ngValue]=5>5 ()</option>
                        </select>
                    </div>

                    <!-- <div class="residential-features">
                        <select name="" id="residential-feature" [(ngModel)]="filter_body.params.furnishment.en">
                            <option value=null disabled selected>Furnishment type</option>
                            <option value="furnished">Furnished ()</option>
                            <option value="unfurnished">Unfurnished ()</option>
                            <option value="partially_furnished">Partially furnished ()</option>
                        </select>
                    </div> -->

                    <div class="residential-features">
                        <select name="6" id="residential-feature" [(ngModel)]="filter_body.params.floor_type">
                            <option value=null disabled selected>Floor type</option>
                            <option value="ground">Ground floor ()</option>
                            <option value="mezzanine">Mezzanine floor (1st floor) ()</option>
                            <option value="middle">Middle floors ()</option>
                            <option value="top">Top floors ()</option>
                        </select>
                    </div>

                </div>

                <div *ngIf="filter_body.params.building_type=='office'">

                    <div class="office-features">
                        <select name="7" id="office-feature" [(ngModel)]="filter_body.params.distribution">
                            <option value=null disabled selected>Distribution</option>
                            <option value="">Open plan ()</option>
                            <option value="walled">Walled ()</option>
                        </select>
                    </div>

                    <div class="office-features">
                        <select name="" id="office-feature" [(ngModel)]="filter_body.params.floor_type">
                            <option value="" disabled selected>Floor type</option>
                            <option value="ground">Ground floor ()</option>
                            <option value="mezzanine">Mezzanine floor (1st floor) ()</option>
                            <option value="middle">Middle floors ()</option>
                            <option value="top">Top floors ()</option>
                        </select>
                    </div>

                </div>

                <div class="checkboxes">

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.elevator">
                        <label for="elevator">Elevator ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.garage">
                        <label for="garage">Garage ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.parking">
                        <label for="parking">Parking ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.terrace">
                        <label for="terrace">Terrace ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.yard">
                        <label for="yard">Yard ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.swimming_pool">
                        <label for="swimming_pool">Swimming pool ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.doorkeeper">
                        <label for="doorkeeper">Doorkeeper ()</label>
                    </div>

                    <div>
                        <input type="checkbox" id="" name="" [(ngModel)]="filter_body.params.building_security">
                        <label for="building_security">Building security ()</label>
                    </div>

                </div>
                
                <button type="submit" class="property-search-btn" (click)="search()">Search</button>

            </div>
        </aside>

        <div class="properties">

            <div class="properties-heading" *ngIf="count>0">
                <div class="properties-info__criteria">
                    <span>Properties matching criteria: <span class="properties-info__matches">{{count}}</span></span>
                </div>
                <div class="properties-info__sort">
                    <select id="property-info-sort" name="" [(ngModel)]="filter_body.sort" (change)="sortSearch($event)">
                        <option value="rating">Our rating</option>
                        <option value="asc">Price ascending</option>
                        <option value="desc">Price descending</option>
                    </select>
                </div>
                <div class="pagination-class">
                    <mat-paginator [length]="length" [pageIndex]="pageIndex-1" [pageSize]="pageSize" [pageSizeOptions]="[20]"
                        (page)="pageEvent = getServerData($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>

            <div *ngIf="count==0">
                <p>No properties found matching this criteria.</p>
            </div>


            <div class="properties-cards">
                <div *ngFor="let property of properties">
                    <div class="properties-card">

                        <!-- <div class="swiper mySwiper">

                            <div class="swiper-wrapper">

                                <div class="properties-card__img swiper-slide">
                                    <img src="../../../assets/images/card-img-1.png" alt="">
                                </div>
                                <div class="properties-card__img swiper-slide">
                                    <img src="../../../assets/images/logo.png" alt="">
                                </div>
                                <div class="properties-card__img swiper-slide">
                                    <img src="../../../assets/images/404.jpg" alt="">
                                </div>

                            </div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> 
                        </div>-->
                        <swiper fxFlex="auto" [config]="config" (indexChange)="onIndexChange($event)">
                            <div *ngFor="let image of property.images" class="swiper-slide cursor-pointer">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="mx-2">
                                    <!-- Your content goes here -->
                                    <!-- <p>{{image.picture_file_name}}</p> -->
                                    <div class="properties-card__img swiper-slide">
                                        <img src="../../../assets/images/card-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </swiper>
                        <a (click)="checkDetails(property)" class="properties-card-link-block" target="_blank">
                            <div class="properties-card-location">
                                <span class="properties-card-location__name">{{property.city_area}}</span>
                                <span class="properties-card-location__price">{{property.price}} €</span>
                            </div>
                            <div class="properties-card-info">
                                <div class="properties-card-info__container">
                                    <span class="properties-card-info__text">Size: </span>
                                    <span
                                        class="properties-card-info__data">{{property.square_areas ? property.square_areas[0].area : property.area}}m<sup>2</sup></span>
                                </div>
                                <div class="properties-card-info__container">
                                    <span class="properties-card-info__text">Bedrooms: </span>
                                    <span class="properties-card-info__data">{{property.bedrooms}}</span>
                                </div>
                                <div class="properties-card-info__container">
                                    <span class="properties-card-info__text">Bathrooms: </span>
                                    <span class="properties-card-info__data">{{property.bathrooms}}</span>
                                </div>
                                <div class="properties-card-info__container">
                                    <span class="properties-card-info__text">Garage: </span>
                                    <span class="properties-card-info__data">{{property.garage ? "Yes" : "No"}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="pagination-class">
                <mat-paginator [length]="length" [pageIndex]="pageIndex-1" [pageSize]="pageSize" [pageSizeOptions]="[20]"
                    (page)="pageEvent = getServerData($event)" aria-label="Select page">
                </mat-paginator>
            </div>

        </div>
    </div>
</body>

</html>