<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div class="post-wrapper wrapper">
    <div class="post-main">
      <div class="post-images">
        <swiper fxFlex="auto" [config]="config" (indexChange)="onIndexChange($event)">
          <div *ngFor="let image of property.images" class="swiper-slide cursor-pointer">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="mx-2">
                  <!-- Your content goes here -->
                  <!-- <p>{{image.picture_file_name}}</p> -->
                  <div class="properties-card__img swiper-slide">
                      <img src="https://image.shutterstock.com/image-photo/modern-interior-design-living-room-260nw-1773665390.jpg" alt="Property image">
                  </div>
              </div>
          </div>
      </swiper>
      </div>
      <div class="post-location">
        <h1 class="post-location__title">{{property.full_address}}</h1>
        <h3 class="post-location__pin">{{property.city_area}}</h3>
        <span class="post-location__id">Property ID: <span class="post-location__id--number">{{property.property_id}}</span></span>
        <span class="post-location__price">{{property.price}} &euro;</span>
        <p class="post-location__description">{{property.description.en}}</p>
      </div>
      <div class="post-features">
        <h3 class="post-features__title">Features</h3>
        <ul class="post-features__ul">
          <li class="post-features__list">Air Conditioning</li>
          <li class="post-features__list">Cable TV</li>
          <li class="post-features__list">Fireplace</li>
          <li class="post-features__list">Sauna</li>
          <li class="post-features__list">Balcony</li>
          <li class="post-features__list">Dishwasher</li>
          <li class="post-features__list">Grill</li>
          <li class="post-features__list">Landscaping</li>
          <li class="post-features__list">Bedding</li>
          <li class="post-features__list">Family Room</li>
          <li class="post-features__list">Outdoor Kitchen</li>
        </ul>
      </div>
      <div class="post-map">
        <h3 class="post-map__title">Map</h3>
        <div id="post-map__map">
          <agm-map [latitude]="property.location[0]" [longitude]="property.location[1]">
            <agm-marker [latitude]="property.location[0]" [longitude]="property.location[1]" [markerClickable]="false"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="post-share">
        <h3 class="post-share__title">Share this property</h3>
        <div class="post-share__ul">
          <a href="https://api.whatsapp.com/send?text=Check out this property: ${window.location.origin + this.router.url}" target="blank" (click)="share(1)" class="post-share__link"></a>
          <a href="viber://forward?text=Check out this property: ${window.location.origin + this.router.url}" target="blank" (click)="share(2)" class="post-share__link"></a>
          <a href="https://t.me/share/url?url=https://habitat.rs&text=Check out this property: ${window.location.origin + this.router.url}" target="blank" (click)="share(3)" class="post-share__link"></a>
        </div>
      </div>
    </div>

    <div class="post-sidebar">
      <h3 class="post-sidebar__title">Amenities</h3>
      <ul class="post-sidebar__ul">
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Size</span><span class="post-sidebar__list--data">{{property.square_areas[0].area}}<sup>2</sup></span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Bedrooms</span><span class="post-sidebar__list--data">{{property.bedrooms}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Bathrooms</span><span class="post-sidebar__list--data">{{property.bathrooms}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Toilets</span><span class="post-sidebar__list--data">{{property.toilets}}</span></li>
        <hr>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Garage</span><span class="post-sidebar__list--data">{{property.garage ? "Yes" : "No"}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Parking</span><span class="post-sidebar__list--data">{{property.parking ? "Yes" : "No"}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Terrace</span><span class="post-sidebar__list--data">{{property.terraces}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Elevator</span><span class="post-sidebar__list--data">{{property.elevator ? "Yes" : "No"}}</span></li>
        <li class="post-sidebar__list"><span class="post-sidebar__list--amenity">Yard</span><span class="post-sidebar__list--data">{{property.yard ? "Yes" : "No"}}</span></li>
      </ul>
    </div>
    
  </div>
</body>

</html>